{% extends "base.html" %}
{% block content %}
<div class="container">
   <div class="container">
      <input id="domain"
         type="text"
         class="form-control"
         placeholder="Domain"
      aria-describedby="basic-addon1">
      <div class="input-group">
         <input id="secretpass"
         type="password"
         class="form-control"
               placeholder="Password" aria-describedby="basic-addon1">
   <span class="input-group-btn">
      <button onClick="return generatePassword()"
         id="gen" class="btn btn-default" type="button">Generate</button>
   </span>
</div>

<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">#</span>
  <input id="passwd" type="text" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
       <span class="input-group-btn">
         <button id="copypwd" class="btn btn-default" data-clipboard-target="#passwd">
           <img width="13" src="assets/clippy.svg" alt="Copy to clipboard">
        </button>
      </span>
</div>
  </div>
{% endblock %}
